<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none mt-3">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            <img
              class="rounded-4 w-100"
              src="/assets/img/page/celulares.png"
              alt=""
            />
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <!-- Content here -->
      <div class="row row-cards">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
</div>
