<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Módulo</div>
        <h2 class="page-title">Móvil</h2>
      </div>
      <!-- Page title actions -->
      <div class="d-print-none col-auto ms-auto">
        <div class="btn-list">
          <app-import-mobile />
          <a
            [routerLink]="['/admin/mobiles/store']"
            class="btn btn-primary d-none d-sm-inline-block"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 5l0 14"></path>
              <path d="M5 12l14 0"></path>
            </svg>
            Nuevo Móvil
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Móviles</h3>
          </div>
          <div class="card-body border-bottom py-3">
            <div class="d-flex">
              <div class="text-secondary">
                Mostrar
                <div class="d-inline-block mx-2">
                  <select
                    (change)="show.set(+selectShow.value)"
                    name="show"
                    class="form-select form-select-sm"
                    #selectShow
                  >
                    @for (
                      value of values;
                      track value.value;
                      
                    ) {
                      <option value="{{ value.value }}">
                        {{ value.label }}
                      </option>
                    }
                  </select>
                </div>
                Registros
              </div>
              <div class="text-secondary ms-auto">
                Buscar:
                <div class="d-inline-block ms-2">
                  <input
                    (input)="query.set(txtSearch.value)"
                    type="text"
                    class="form-control form-control-sm"
                    #txtSearch
                  />
                </div>
              </div>
            </div>
          </div>
          @if (mobileRs.isLoading()) {
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
          }
          <div class="table-responsive">
            <table class="card-table table-hover table text-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Número</th>
                  <th>Oficina</th>
                  <th>Dirección</th>
                  <th>Funcionario</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="align-middle">
                @if (mobileRs.isLoading()) {
                  <tr>
                    <td colspan="8" class="text-secondary text-center">
                      Cargando datos...
                    </td>
                  </tr>
                } @else {
                  @for (item of mobileRs.value(); track item.id) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>
                        <span class="text-secondary">{{ item.number }}</span>
                      </td>
                      <td>
                        <span class="text-secondary">{{ item.office }}</span>
                      </td>
                      <td>
                        <span class="text-secondary">{{ item.direction }}</span>
                      </td>
                      <td>
                        <span class="text-secondary">{{ item.person }}</span>
                      </td>
                      <td>
                        <a
                          class="text-dark cursor-pointer px-1"
                          aria-label="Button"
                          
                          
                          title="Editar"
                          [routerLink]="['/admin/mobiles/update/' + item.id]"
                        >
                          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                            />
                            <path
                              d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                            />
                            <path d="M16 5l3 3" />
                          </svg>
                        </a>
                        <a
                          class="text-dark cursor-pointer px-1"
                          
                          
                          title="Eliminar"
                          (click)="deleteItem(item.id)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path
                              d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"
                            />
                            <path
                              d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"
                            />
                          </svg>
                        </a>
                      </td>
                    </tr>
                  } @empty {
                    <tr>
                      <td colspan="8" class="text-secondary text-center">
                        No se encontraron registros
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>

          <div class="card-footer d-flex align-items-center">
            <p class="text-secondary m-0">
              Mostrando <span>{{ meta().from }}</span> a
              <span>{{ meta().to }}</span> de
              <span>{{ meta().total }}</span> registros
            </p>
            <ul class="pagination m-0 ms-auto">
              <!-- Enlaces de páginas -->
              @for (page of meta().links; track page.id; ) {
                <li class="page-item" [class.active]="page.active">
                  <a
                    class="page-link"
                    (click)="goToPage(page.page)"
                    [innerHTML]="page.label"
                    href="javascript:void(0)"
                  ></a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
