.img-logo-desktop {
  max-width: 200px;
  height: auto;
}

.img-logo-movile {
  max-width: 276px;
  height: auto;
}

.modal-backdrop.show {
  z-index: 9;
}

.invalid-input {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 85.714285%;
  color: #d63939;
}
.container-tight {
  max-width: 600px;
}
