<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Módulo</div>
        <h2 class="page-title">Registrar Anexo</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
    <div class="row row-cards">
      <div class="col-12">
        <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <h3 class="card-title">Formulario de registro</h3>
          </div>
          @if(loading){
          <div class="progress progress-sm">
            <div class="progress-bar progress-bar-indeterminate"></div>
          </div>
          }
          <div class="card-body">
            @if(errorMessage){
            <div
              class="alert alert-important alert-danger alert-dismissible"
              role="alert"
            >
              <div class="d-flex">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon alert-icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                  </svg>
                </div>
                <div>
                  <div [innerHTML]="errorMessage" class="ms-1"></div>
                </div>
              </div>
              <a
                class="btn-close btn-close-white"
                data-bs-dismiss="alert"
                aria-label="close"
              ></a>
            </div>
            }
            <div class="row row-cards">
              <div class="col-md-4">
                <label class="form-label required">Número interno </label>
                <input
                  formControlName="internal_number"
                  type="number"
                  class="form-control"
                  placeholder="6869"
                  [class.is-invalid]="
                    form.get('internal_number')?.invalid &&
                    (form.get('internal_number')?.touched ||
                      form.get('internal_number')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('internal_number')?.valid &&
                    (form.get('internal_number')?.touched ||
                      form.get('internal_number')?.dirty)
                  "
                />
                @if(form.get('internal_number')?.invalid &&
                form.get('internal_number')?.touched ||
                form.get('internal_number')?.dirty){
                @if(form.get('internal_number')?.hasError('required')){
                <span class="invalid-input">
                  El número interno es obligatorio.
                </span>
                } } @else {
                <span class="invalid-input">&nbsp;</span>
                }
              </div>
              <div class="col-md-4">
                <label class="form-label required">Número externo </label>
                <input
                  formControlName="external_number"
                  type="number"
                  class="form-control"
                  placeholder="432380968"
                  [class.is-invalid]="
                    form.get('external_number')?.invalid &&
                    (form.get('external_number')?.touched ||
                      form.get('external_number')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('external_number')?.valid &&
                    (form.get('external_number')?.touched ||
                      form.get('external_number')?.dirty)
                  "
                />
                @if(form.get('external_number')?.invalid &&
                form.get('external_number')?.touched ||
                form.get('external_number')?.dirty){
                @if(form.get('external_number')?.hasError('required')){
                <span class="invalid-input">
                  El número externo es obligatorio.
                </span>
                } } @else {
                <span class="invalid-input">&nbsp;</span>
                }
              </div>
              <div class="col-md-4">
                <label class="form-label">Oficina </label>
                <input
                  formControlName="office"
                  type="text"
                  class="form-control"
                  placeholder="Oficina de Ingeniería y redes"
                  [class.is-invalid]="
                    form.get('office')?.invalid &&
                    (form.get('office')?.touched || form.get('office')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('office')?.valid &&
                    (form.get('office')?.touched || form.get('office')?.dirty)
                  "
                />
              </div>
              <div class="col-md-4">
                <label class="form-label">Unidad </label>
                <input
                  formControlName="unit"
                  type="text"
                  class="form-control"
                  [class.is-invalid]="
                    form.get('unit')?.invalid &&
                    (form.get('unit')?.touched || form.get('unit')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('unit')?.valid &&
                    (form.get('unit')?.touched || form.get('unit')?.dirty)
                  "
                />
              </div>
              <div class="col-md-8">
                <label class="form-label">Funcionario</label>
                <input
                  formControlName="person"
                  type="text"
                  class="form-control"
                  [class.is-invalid]="
                    form.get('person')?.invalid &&
                    (form.get('person')?.touched || form.get('person')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('person')?.valid &&
                    (form.get('person')?.touched || form.get('person')?.dirty)
                  "
                />
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            @if(loading){
            <button type="button" class="btn btn-primary" disabled>
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
              ></span>
              Cargando...
            </button>
            } @else {
            <button type="submit" class="btn btn-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
                />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
              </svg>
              Guardar
            </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
