.img-logo-desktop {
  max-width: 270px;
  height: auto;
}

.img-logo-movile {
  max-width: 276px;
  height: auto;
}

.modal-backdrop.show {
  z-index: 9;
}

.invalid-input {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 85.714285%;
  color: #d63939;
}

.container-tight {
  max-width: 600px;
}

.navbar {
  border-bottom: 6px solid;
  border-image: linear-gradient(90deg, #00bb95 25%, #ffca48 25%, #ffca48 50%, #ff6948 50%, #ff6948 75%, #00a7e6 75%) 1;
}