<!-- Desktop -->
<header
  class="navbar navbar-expand-md d-print-none d-none d-md-block d-lg-block d-xl-block sticky-top"
>
  <div class="container-xl">
    <div class="navbar-brand">
      <a [routerLink]="['/']" class="">
        <img
          src="/assets/img/logos/logo-azul.png"
          alt="logo-muniarica"
          class="d-block img-logo-desktop mx-auto"
        />
      </a>
    </div>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse mt-2 mb-3 rounded"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/anexos']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-landline-phone"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M20 3h-2a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-14a2 2 0 0 0 -2 -2z"
                />
                <path d="M16 4h-11a3 3 0 0 0 -3 3v10a3 3 0 0 0 3 3h11" />
                <path d="M12 8h-6v3h6z" />
                <path d="M12 14v.01" />
                <path d="M9 14v.01" />
                <path d="M6 14v.01" />
                <path d="M12 17v.01" />
                <path d="M9 17v.01" />
                <path d="M6 17v.01" />
              </svg>
            </span>
            <span class="nav-link-title"> Anexos </span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/mobiles']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
                />
                <path d="M11 4h2" />
                <path d="M12 17v.01" />
              </svg>
            </span>
            <span class="nav-link-title"> Celulares </span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/contact']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
              </svg>
            </span>
            <span class="nav-link-title"> Contacto </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://kitdigital.imaarica.cl/"
            target="_blank"
          >
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-package"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                <path d="M12 12l8 -4.5" />
                <path d="M12 12l0 9" />
                <path d="M12 12l-8 -4.5" />
                <path d="M16 5.25l-8 4.5" />
              </svg>
            </span>
            <span class="nav-link-title"> Kit Digital </span>
          </a>
        </li>
        <li class="nav-item ms-2 me-2">
          <a
            target="_blank"
            class="btn btn-outline-warning ms-4"
            href="https://intranetarica.smc.cl/login.aspx"
          >
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-users"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>
            </span>
            <span class="nav-link-title"> Sistema RR.HH </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="btn btn-icon btn-outline-dark"
            title="Buscar archivo..."
            data-bs-toggle="modal"
            data-bs-target="#modal-search"
          >
            <!-- SVG icon from http://tabler.io/icons/icon/git-merge -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-search"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Movile -->
<header
  class="navbar navbar-expand-md d-print-none sticky-top d-block d-md-none d-lg-none d-xl-none shadow-none"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand d-none-navbar-horizontal pe-md-3 pe-0">
      <a [routerLink]="['/']" class="">
        <img
          src="/assets/img/logos/logo-azul.png"
          alt="logo-muniarica"
          class="d-block img-logo-movile"
        />
      </a>
    </div>
    <div></div>
    <div
      class="navbar-collapse collapse mt-2 mb-3 rounded"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/anexos']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-landline-phone"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M20 3h-2a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-14a2 2 0 0 0 -2 -2z"
                />
                <path d="M16 4h-11a3 3 0 0 0 -3 3v10a3 3 0 0 0 3 3h11" />
                <path d="M12 8h-6v3h6z" />
                <path d="M12 14v.01" />
                <path d="M9 14v.01" />
                <path d="M6 14v.01" />
                <path d="M12 17v.01" />
                <path d="M9 17v.01" />
                <path d="M6 17v.01" />
              </svg>
            </span>
            <span class="nav-link-title"> Anexos </span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/mobiles']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
                />
                <path d="M11 4h2" />
                <path d="M12 17v.01" />
              </svg>
            </span>
            <span class="nav-link-title"> Celulares </span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/contact']">
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
              </svg>
            </span>
            <span class="nav-link-title"> Contacto </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://kitdigital.imaarica.cl/"
            target="_blank"
          >
            <span class="nav-link-icon"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-package"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                <path d="M12 12l8 -4.5" />
                <path d="M12 12l0 9" />
                <path d="M12 12l-8 -4.5" />
                <path d="M16 5.25l-8 4.5" />
              </svg>
            </span>
            <span class="nav-link-title"> Kit Digital </span>
          </a>
        </li>
        <li class="nav-item ms-2 me-2 mt-2">
          <a
            target="_blank"
            class="btn btn-outline-warning"
            href="https://intranetarica.smc.cl/login.aspx"
          >
            <span class="nav-link-icon text-white"
              ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-users"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>
            </span>
            <span class="nav-link-title"> Sistema RR.HH </span>
          </a>
        </li>
        <li class="nav-item ms-2 me-2 mt-2">
          <a
            href="#"
            class="btn"
            title="Buscar archivo..."
            data-bs-toggle="modal"
            data-bs-target="#modal-search"
          >
            <!-- SVG icon from http://tabler.io/icons/icon/git-merge -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-search"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
            <span class="nav-link-title"> Buscar Documento</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div
  class="modal modal-blur fade"
  id="modal-search"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar documento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      @if (filesRs.isLoading()) {
        <div class="progress progress-sm">
          <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
      }
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label"></label>
          <div class="row g-2">
            <div class="col">
              <input
                (input)="name.set(txtName.value)"
                type="text"
                class="form-control form-control-rounded"
                placeholder="Escribe el nombre del archivo..."
                #txtName
              />
            </div>
            <div class="col-auto">
              @if (!filesRs.isLoading()) {
                <a href="#" class="btn btn-icon" aria-label="Button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-search"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                  </svg>
                </a>
              } @else {
                <a href="#" class="btn btn-icon" aria-label="Button">
                  <div
                    class="spinner-border spinner-border-sm text-secondary"
                    role="status"
                  ></div>
                </a>
              }
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table-vcenter table">
            <thead>
              <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tamaño</th>
                <th>Tipo</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="align-middle">
              @if (filesRs.isLoading()) {
                <tr>
                  <td colspan="8" class="text-secondary text-center">
                    Cargando datos...
                  </td>
                </tr>
              } @else {
                @for (item of filesRs.value(); track item.id) {
                  <tr>
                    <td>
                      <img
                        style="max-width: 50px"
                        [src]="getFileImage(item.type)"
                        [alt]="item.name"
                      />
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.name }}</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.description }}</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.size }}MB</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.type }}</span>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn"
                        (click)="downloadFile(item.id, item.name)"
                      >
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-download"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"
                          />
                          <path d="M7 11l5 5l5 -5" />
                          <path d="M12 4l0 12" />
                        </svg>
                        Descargar
                      </button>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="8" class="text-secondary text-center">
                      No se encontraron registros
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          class="btn btn-link link-secondary btn-3"
          data-bs-dismiss="modal"
        >
          Cerrar
        </a>
      </div>
    </div>
  </div>
</div>
