<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none mt-3">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            <img
              class="rounded-4 w-100"
              src="/assets/img/page/celulares.png"
              alt=""
            />
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <!-- Content here -->
      <div class="row row-cards">
        <div class="col-12">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <div class="input-icon">
                <input
                  formControlName="query"
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Buscar ..."
                />
                <span class="input-icon-addon">
                  @if(!loading){
                  <!-- Download SVG icon from http://tabler.io/icons/icon/search -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-1"
                  >
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                  </svg>
                  } @else {
                  <a href="#" class="btn btn-icon" aria-label="Button">
                    <div
                      class="spinner-border spinner-border-sm text-secondary"
                      role="status"
                    ></div>
                  </a>
                  }
                </span>
              </div>
            </div>
          </form>
          <div class="card">
            @if(loading){
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
            }
            <div class="table-responsive">
              <table class="table card-table text-nowrap table-hover">
                <thead>
                  <tr>
                    <th>Número</th>
                    <th>Oficina</th>
                    <th>Dirección</th>
                    <th>Funcionario</th>
                  </tr>
                </thead>
                <tbody class="align-middle">
                  @if(loading){
                  <tr>
                    <td colspan="8" class="text-secondary text-center">
                      Cargando datos...
                    </td>
                  </tr>
                  } @else if (!mobiles.length) {
                  <tr>
                    <td colspan="8" class="text-secondary text-center">
                      No se encontraron registros
                    </td>
                  </tr>
                  } @else { @for (item of mobiles; track item.id) {
                  <tr>
                    <td>
                      <span class="text-secondary">{{ item.number }}</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.office }}</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.direction }}</span>
                    </td>
                    <td>
                      <span class="text-secondary">{{ item.person }}</span>
                    </td>
                  </tr>
                  } }
                </tbody>
              </table>
            </div>

            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-secondary">
                Mostrando <span>{{ meta.from }}</span> a
                <span>{{ meta.to }}</span> de
                <span>{{ meta.total }}</span> registros
              </p>
              <ul class="pagination m-0 ms-auto">
                <!-- Botón anterior -->
                <li class="page-item" [class.disabled]="!links.prev">
                  <button
                    class="page-link"
                    (click)="goToPage(meta.current_page - 1)"
                    [attr.aria-disabled]="!links.prev"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M15 6l-6 6l6 6"></path>
                    </svg>
                    prev
                  </button>
                </li>

                <!-- Enlaces de páginas -->
                @for( page of meta.links; track page.id; let idx = $index) {
                <li class="page-item" [class.active]="page.active">
                  <a
                    class="page-link"
                    (click)="goToPage(page.page)"
                    [innerHTML]="page.label"
                    href="javascript:void(0)"
                  ></a>
                </li>
                }
                <!-- Botón siguiente -->
                <li class="page-item" [class.disabled]="!links.next">
                  <a
                    class="page-link"
                    (click)="goToPage(meta.current_page + 1)"
                    [attr.aria-disabled]="!links.next"
                    href="javascript:void(0)"
                  >
                    next
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
