html,
body {
  background-color: #06048c;
  height: 100vh;
}

.invalid-input {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 85.714285%;
  color: #d63939;
}
.container-tight {
  max-width: 600px;
}