<!doctype html>
<html lang="es">
  <body class="d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight container py-4">
        <div class="mt-2 mb-4 text-center">
          <img src="/assets/img/logos/logo-blanco.png" alt="Logo-muniarica" />
        </div>
        <form
          class="card card-md"
          [formGroup]="form"
          (ngSubmit)="resetPassword()"
        >
          <div class="card-body">
            <h2 class="card-title mb-4 text-center">Restablecer contraseña</h2>
            <div class="mb-3">
              @if (errorMessage) {
                <div
                  class="alert alert-important alert-danger alert-dismissible"
                  role="alert"
                >
                  <div class="d-flex">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon alert-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <line x1="12" y1="8" x2="12" y2="12"></line>
                        <line x1="12" y1="16" x2="12.01" y2="16"></line>
                      </svg>
                    </div>
                    <div>
                      <div [innerHTML]="errorMessage" class="ms-1">
                        {{ errorMessage }}
                      </div>
                    </div>
                  </div>
                  <a
                    class="btn-close btn-close-white"
                    data-bs-dismiss="alert"
                    aria-label="close"
                  ></a>
                </div>
              }
              <div>
                <div class="alert alert-info" role="alert">
                  <div class="d-flex">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon alert-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="12" y1="8" x2="12.01" y2="8" />
                        <polyline points="11 12 12 12 12 16 13 16" />
                      </svg>
                    </div>
                    <div>
                      <h4 class="alert-title" style="margin-left: 5px">
                        Tu contraseña debe cumplir con los siguientes
                        requisitos:
                      </h4>
                      <div class="text-secondary">
                        <ul>
                          <li>Tener al menos 8 caracteres de longitud.</li>
                          <li>
                            Incluir al menos una letra mayúscula y una letra
                            minúscula.
                          </li>
                          <li>Al menos una letra minúscula.</li>
                          <li>
                            Incluir al menos un carácter especial (por ejemplo,
                            #, $, !, %, etc.).
                          </li>
                          <li>
                            No debe haber sido comprometida en brechas de
                            seguridad.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label class="form-label">Nueva contraseña</label>
                <input
                  formControlName="password"
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  id="label-password"
                  [class.is-invalid]="
                    form.get('password')?.invalid &&
                    (form.get('password')?.touched ||
                      form.get('password')?.dirty)
                  "
                  [class.is-valid]="
                    form.get('password')?.valid &&
                    (form.get('password')?.touched ||
                      form.get('password')?.dirty)
                  "
                />
                @if (
                  (form.get("password")?.invalid &&
                    form.get("password")?.touched) ||
                  form.get("password")?.dirty
                ) {
                  @if (form.get("password")?.hasError("required")) {
                    <span class="invalid-input">
                      La contraseña es obligatoria.
                    </span>
                  } @else if (form.get("password")?.hasError("minlength")) {
                    <span class="invalid-input">
                      La contraseña debe tener al menos 8 caracteres.
                    </span>
                  } @else if (form.get("password")?.hasError("pattern")) {
                    <span class="invalid-input">
                      La contraseña debe contener al menos una letra mayúscula,
                      una letra minúscula, un número y un carácter especial.
                    </span>
                  }
                } @else {
                  <span class="invalid-input">&nbsp;</span>
                }
              </div>
              <div>
                <label class="form-label">Confirmar contraseña</label>
                <input
                  formControlName="password_confirmation"
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  id="label-password_confirmation"
                  [class.is-invalid]="
                    form.get('password_confirmation')?.invalid &&
                    (form.get('password_confirmation')?.touched ||
                      form.get('password_confirmation')?.dirty)
                  "
                />
                @if (
                  (form.get("password_confirmation")?.invalid &&
                    form.get("password_confirmation")?.touched) ||
                  form.get("password_confirmation")?.dirty
                ) {
                  @if (
                    form.get("password_confirmation")?.hasError("required")
                  ) {
                    <span class="invalid-input">
                      La confirmación de la contraseña es obligatoria.
                    </span>
                  } @else if (
                    form.get("password_confirmation")?.valid &&
                    form.get("passwordsMatch")?.touched
                  ) {
                    <span class="invalid-input">
                      Las contraseñas no coinciden.
                    </span>
                  }
                } @else {
                  <span class="invalid-input">&nbsp;</span>
                }
              </div>
              <div class="pt-2">
                <div>
                  <label class="form-check">
                    <input
                      (click)="toggleShowPassword()"
                      class="form-check-input"
                      type="checkbox"
                    />
                    <span class="form-check-label">Mostrar contraseña</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-footer mt-0">
              @if (loading) {
                <button type="button" class="btn btn-primary w-100" disabled>
                  <span
                    class="spinner-border spinner-border-sm me-2"
                    role="status"
                  ></span>
                  Cargando...
                </button>
              } @else {
                <button
                  type="submit"
                  [disabled]="form.invalid"
                  class="btn btn-primary w-100"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                    />
                    <path d="M3 7l9 6l9 -6" />
                  </svg>
                  Restablecer contraseña
                </button>
              }
            </div>
          </div>
        </form>
        <div class="text-secondary mt-3 text-center">
          <a [routerLink]="['/login']" class="text-white">Volver al inicio</a>
        </div>
      </div>
    </div>
  </body>
</html>
