<footer class="footer footer-transparent d-print-none">
  <div class="container-fluid px-6">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            <a [routerLink]="['/login']" class="link-secondary"
              >Administración</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Copyright &copy; 2025
            <span class="link-secondary"
              >Oficina de Ingeniería y Redes - Unidad de Desarrollo Web</span
            >. Todos los derechos reservados
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
