<section>
  <div class="container-xl pt-3">
    @if(banners.length > 0){
    <div id="carousel-banners" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicadores del carrusel -->
      <div class="carousel-indicators">
        @for (banner of banners; track $index) { @if( banner.status ===
        'published' ) {
        <button
          type="button"
          [attr.data-bs-target]="'#carousel-banners'"
          [attr.data-bs-slide-to]="$index"
          [class.active]="$index === 0"
          [attr.aria-label]="'Slide ' + ($index + 1)"
        ></button>
        } }
      </div>

      <!-- Elementos del carrusel -->
      <div class="carousel-inner rounded-4">
        @for (banner of banners; track $index) { @if( banner.status ===
        'published' ) {
        <div [class.carousel-item]="true" [class.active]="$index === 0">
          <a [href]="banner.link">
            <img
              [src]="banner.image"
              class="d-block w-100"
              [alt]="banner.title"
            />
          </a>
        </div>
        } }
      </div>

      <!-- Controles del carrusel -->
      <a
        class="carousel-control-prev"
        href="#carousel-banners"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel-banners"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    } @else {
    <div class="alert alert-info" role="alert">
      <h4 class="alert-title">Información</h4>
      <div class="text-secondary">
        No hay banners publicados en este momento.
      </div>
    </div>
    }
  </div>
</section>
<section>
  <div class="container-xl pt-3">
    <div class="row">
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #27c9a2">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    />
                    <path
                      d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                    />
                    <path d="M12 17v1m0 -8v1" />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder" style="color: #0043af"
                  >Special title treatment</span
                >
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #ffcb4a">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    />
                    <path
                      d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                    />
                    <path d="M12 17v1m0 -8v1" />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder" style="color: #0043af"
                  >Special title treatment</span
                >
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #ff6848">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    />
                    <path
                      d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                    />
                    <path d="M12 17v1m0 -8v1" />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder text-white"
                  >Special title treatment</span
                >
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #00a8e6">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    />
                    <path
                      d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                    />
                    <path d="M12 17v1m0 -8v1" />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder text-white"
                  >Special title treatment</span
                >
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-xl">
    <div class="mt-6">
      <div class="hr-text h2 text-primary fw-bold">SECCIONES</div>
      <div class="row pt-3">
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Administración</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Secplan</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Dideco</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Oirs</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Contabilidad y presupuesto</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Remuneraciones</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Compras públicas</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Asesoria Jurídica</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Fiscalia Administrativa</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Bienestar</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">DIDI</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Proteccion de Datos Personales</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-6 col-md-3">
          <div class="card">
            <img
              src="https://www.lascondes.cl/wp-content/uploads/2024/06/thumb-tramites-demo.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Oficina de Bienes Inventario</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="hr-text h2 text-primary fw-bold">Enlaces Relevantes</div>
    <div class="row mt-4 text-center">
      <div class="col-4">
        <a href="http://127.0.0.1:8080/vistas/48">
          <img class="img-fluid img-footer" src="/img/app/DIP.png" alt="DIP" />
        </a>
      </div>
      <div class="col-4">
        <a href="http://127.0.0.1:8080/vistas/48">
          <img
            class="img-fluid img-footer"
            src="/img/app/transformacion.png"
            alt="DIP"
          />
        </a>
      </div>
      <div class="col-4">
        <a href="http://127.0.0.1:8080/vistas/48">
          <img class="img-fluid img-footer" src="/img/app/ley.png" alt="DIP" />
        </a>
      </div>
    </div>
  </div>
</section>
