<section>
  <div class="container-xl pt-3">
    @if (loading) {
      <span>Cargando datos..</span>
    } @else {
      @if (banners.length > 0) {
        <div
          id="carousel-banners"
          class="carousel slide carousel-fade"
        >
          <!-- Indicadores del carrusel -->
          <div class="carousel-indicators">
            @for (banner of banners; track $index) {
              @if (banner.status === "published") {
                <button
                  type="button"
                  [attr.data-bs-target]="'#carousel-banners'"
                  [attr.data-bs-slide-to]="$index"
                  [class.active]="$index === 0"
                  [attr.aria-label]="'Slide ' + ($index + 1)"
                ></button>
              }
            }
          </div>

          <!-- Elementos del carrusel -->
          <div class="carousel-inner rounded-4">
            @for (banner of banners; track $index) {
              @if (banner.status === "published") {
                <div [class.carousel-item]="true" [class.active]="$index === 0">
                  <a [href]="banner.link">
                    <img
                      [src]="banner.image"
                      class="d-block w-100"
                      [alt]="banner.title"
                    />
                  </a>
                </div>
              }
            }
          </div>

          <!-- Controles del carrusel -->
          <a
            class="carousel-control-prev"
            href="#carousel-banners"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carousel-banners"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      } @else {
        <div class="alert alert-info bg-white mb-0" role="alert">
          <div class="d-flex">
            <div class="ml-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon alert-icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <line x1="12" y1="8" x2="12.01" y2="8" />
                <polyline points="11 12 12 12 12 16 13 16" />
              </svg>
            </div>
            <div>
              <h4 class="alert-title" style="margin-left: 5px">Información</h4>
              <div class="text-secondary">
                No hay banners publicados en este momento.
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</section>
<section>
  <div class="container-xl pt-3">
    <div class="row">
      <div class="col-md-3 col-6 pt-2">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #27c9a2">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-file-check icon-menu-card"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    />
                    <path d="M9 15l2 2l4 -4" />
                  </svg>
                </p>
                <span
                  class="fs-2 fw-bolder text-uppercase"
                  style="color: #0043af"
                  >Encasillamiento <br />
                  Escalafón
                </span>
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 pt-2">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #ffcb4a">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-users-group icon-menu-card"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                    <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                    <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                  </svg>
                </p>
                <span
                  class="fs-2 fw-bolder text-uppercase"
                  style="color: #0043af"
                  >Recursos <br />
                  Humanos</span
                >
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 pt-2">
        <a
          href="https://leykarin.imaarica.cl/"
          target="_blank"
          class="text-decoration-none"
        >
          <div class="card rounded-4" style="background-color: #ff6848">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-gavel icon-menu-card"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M13 10l7.383 7.418c.823 .82 .823 2.148 0 2.967a2.11 2.11 0 0 1 -2.976 0l-7.407 -7.385"
                    />
                    <path d="M6 9l4 4" />
                    <path d="M13 10l-4 -4" />
                    <path d="M3 21h7" />
                    <path
                      d="M6.793 15.793l-3.586 -3.586a1 1 0 0 1 0 -1.414l2.293 -2.293l.5 .5l3 -3l-.5 -.5l2.293 -2.293a1 1 0 0 1 1.414 0l3.586 3.586a1 1 0 0 1 0 1.414l-2.293 2.293l-.5 -.5l-3 3l.5 .5l-2.293 2.293a1 1 0 0 1 -1.414 0z"
                    />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder text-uppercase text-white"
                  >Ley Karin <br />
                  (Ley N°21.643)
                </span>
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 pt-2">
        <a href="#" class="text-decoration-none">
          <div class="card rounded-4" style="background-color: #00a8e6">
            <div class="card-body">
              <h5 class="card-title text-center">
                <p class="icon-tabler-card">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-files icon-menu-card"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15 3v4a1 1 0 0 0 1 1h4" />
                    <path
                      d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z"
                    />
                    <path
                      d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"
                    />
                  </svg>
                </p>
                <span class="fs-2 fw-bolder text-uppercase text-white"
                  >Solicitudes <br />
                  Declaraciones
                </span>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-xl">
    <div class="mt-6">
      <div class="hr-text h2 text-primary fw-bold">SECCIONES</div>
      <div class="row pt-3">
        <div class="col-md-3">
          <a
            [routerLink]="['/page/administracion-municipal']"
            class="card card-sm card-secction"
          >
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-buildings"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M4 21v-15c0 -1 1 -2 2 -2h5c1 0 2 1 2 2v15" />
                      <path d="M16 8h2c1 0 2 1 2 2v11" />
                      <path d="M3 21h18" />
                      <path d="M10 12v0" />
                      <path d="M10 16v0" />
                      <path d="M10 8v0" />
                      <path d="M7 12v0" />
                      <path d="M7 16v0" />
                      <path d="M7 8v0" />
                      <path d="M17 12v0" />
                      <path d="M17 16v0" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Administración</div>
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-map"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13" />
                      <path d="M9 4v13" />
                      <path d="M15 7v13" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Secplan</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-users"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                      <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                      <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                      <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Dideco</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                      <path d="M12 9h.01" />
                      <path d="M11 12h1v4h1" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">OIRS</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-calculator"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M4 3m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                      />
                      <path
                        d="M8 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
                      />
                      <path d="M8 14l0 .01" />
                      <path d="M12 14l0 .01" />
                      <path d="M16 14l0 .01" />
                      <path d="M8 17l0 .01" />
                      <path d="M12 17l0 .01" />
                      <path d="M16 17l0 .01" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Contabilidad y presupuesto</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-coins"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z"
                      />
                      <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4" />
                      <path
                        d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z"
                      />
                      <path d="M3 6v10c0 .888 .772 1.45 2 2" />
                      <path d="M3 11c0 .888 .772 1.45 2 2" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Remuneraciones</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 21l18 0" />
                      <path
                        d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
                      />
                      <path d="M5 21l0 -10.15" />
                      <path d="M19 21l0 -10.15" />
                      <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Compras públicas</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-gavel"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M13 10l7.383 7.418c.823 .82 .823 2.148 0 2.967a2.11 2.11 0 0 1 -2.976 0l-7.407 -7.385"
                      />
                      <path d="M6 9l4 4" />
                      <path d="M13 10l-4 -4" />
                      <path d="M3 21h7" />
                      <path
                        d="M6.793 15.793l-3.586 -3.586a1 1 0 0 1 0 -1.414l2.293 -2.293l.5 .5l3 -3l-.5 -.5l2.293 -2.293a1 1 0 0 1 1.414 0l3.586 3.586a1 1 0 0 1 0 1.414l-2.293 2.293l-.5 -.5l-3 3l.5 .5l-2.293 2.293a1 1 0 0 1 -1.414 0z"
                      />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Asesoría Jurídica</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-report-search"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" />
                      <path d="M18 12v-5a2 2 0 0 0 -2 -2h-2" />
                      <path
                        d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
                      />
                      <path d="M8 11h4" />
                      <path d="M8 15h3" />
                      <path
                        d="M16.5 17.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0"
                      />
                      <path d="M18.5 19.5l2.5 2.5" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Fiscalía Administrativa</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-mood-heart"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M21 12a9 9 0 1 0 -8.012 8.946" />
                      <path d="M9 10h.01" />
                      <path d="M15 10h.01" />
                      <path d="M9.5 15a3.59 3.59 0 0 0 2.774 .99" />
                      <path
                        d="M18.994 21.5l2.518 -2.58a1.74 1.74 0 0 0 .004 -2.413a1.627 1.627 0 0 0 -2.346 -.005l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 -.004a1.74 1.74 0 0 0 -.004 2.412l2.51 2.59z"
                      />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Bienestar</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z"
                      />
                      <path d="M7 20h10" />
                      <path d="M9 16v4" />
                      <path d="M15 16v4" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">DIDI</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-file-text-shield"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 3v4a.997 .997 0 0 0 1 1h4" />
                      <path
                        d="M11 21h-5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v3.5"
                      />
                      <path d="M8 9h1" />
                      <path d="M8 12.994l3 0" />
                      <path d="M8 16.997l2 0" />
                      <path
                        d="M21 15.994c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5"
                      />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Protección de Datos Personales</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <div class="card card-sm card-secction">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary avatar rounded-circle text-white">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/currency-dollar -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-building-warehouse"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 21v-13l9 -4l9 4v13" />
                      <path d="M13 13h4v8h-10v-6h6" />
                      <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <h3 class="card-title mb-1">
                    <div class="text-reset">Oficina de Bienes Inventario</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
