<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Módulo</div>
        <h2 class="page-title">Cambiar contraseña</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
    <div class="row row-cards">
      <div class="col-12">
        <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <h3 class="card-title">Formulario para cambiar contraseña</h3>
          </div>
          @if (loading()) {
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
          }
          <div class="card-body">
            @if (errorMessage()) {
              <div
                class="alert alert-important alert-danger alert-dismissible"
                role="alert"
              >
                <div class="d-flex">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon alert-icon"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="12" cy="12" r="9"></circle>
                      <line x1="12" y1="8" x2="12" y2="12"></line>
                      <line x1="12" y1="16" x2="12.01" y2="16"></line>
                    </svg>
                  </div>
                  <div>
                    <div [innerHTML]="errorMessage()" class="ms-1"></div>
                  </div>
                </div>
                <a
                  class="btn-close btn-close-white"
                  data-bs-dismiss="alert"
                  aria-label="close"
                ></a>
              </div>
            }
            <div class="row row-cards">
              <div class="col-md-12">
                <div>
                  <div class="alert alert-info" role="alert">
                    <div class="d-flex">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon alert-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="12" cy="12" r="9" />
                          <line x1="12" y1="8" x2="12.01" y2="8" />
                          <polyline points="11 12 12 12 12 16 13 16" />
                        </svg>
                      </div>
                      <div>
                        <h4 class="alert-title" style="margin-left: 5px">
                          La contraseña debe cumplir con los siguientes
                          requisitos:
                        </h4>
                        <div class="text-secondary">
                          <ul>
                            <li>Tener al menos 8 caracteres de longitud.</li>
                            <li>
                              Incluir al menos una letra mayúscula y una letra
                              minúscula.
                            </li>
                            <li>Al menos una letra minúscula.</li>
                            <li>
                              Incluir al menos un carácter especial (por
                              ejemplo, #, $, !, %, etc.).
                            </li>
                            <li>
                              No debe haber sido comprometida en brechas de
                              seguridad.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label required">Contraseña actual</label>
                  <div class="row g-2">
                    <div class="col">
                      <input
                        formControlName="current_password"
                        [type]="showPassword() ? 'text' : 'password'"
                        class="form-control"
                        id="label-password-current"
                        [class.is-invalid]="
                          form.get('current_password')?.invalid &&
                          (form.get('current_password')?.touched ||
                            form.get('current_password')?.dirty)
                        "
                        [class.is-valid]="
                          form.get('current_password')?.valid &&
                          (form.get('current_password')?.touched ||
                            form.get('current_password')?.dirty)
                        "
                      />
                      @if (
                        (form.get("current_password")?.invalid &&
                          form.get("current_password")?.touched) ||
                        form.get("current_password")?.dirty
                      ) {
                        @if (
                          form.get("current_password")?.hasError("required")
                        ) {
                          <span class="invalid-input">
                            La contraseña actual es obligatoria.
                          </span>
                        }
                      } @else {
                        <span class="invalid-input">&nbsp;</span>
                      }
                    </div>
                    <div class="col-auto">
                      <a
                        (click)="toggleShowPassword()"
                        title="Mostrar contraseña"
                        class="btn btn-icon"
                        aria-label="Button"
                      >
                        @if (showPassword()) {
                          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path
                              d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                            />
                          </svg>
                        }
                        @if (!showPassword()) {
                          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-eye-closed"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4"
                            />
                            <path d="M3 15l2.5 -3.8" />
                            <path d="M21 14.976l-2.492 -3.776" />
                            <path d="M9 17l.5 -4" />
                            <path d="M15 17l-.5 -4" />
                          </svg>
                        }
                      </a>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label required">Contraseña</label>
                  <div class="row g-2">
                    <div class="col">
                      <input
                        formControlName="new_password"
                        [type]="showPassword() ? 'text' : 'password'"
                        class="form-control"
                        id="label-password-new"
                        [class.is-invalid]="
                          form.get('new_password')?.invalid &&
                          (form.get('new_password')?.touched ||
                            form.get('new_password')?.dirty)
                        "
                        [class.is-valid]="
                          form.get('new_password')?.valid &&
                          (form.get('new_password')?.touched ||
                            form.get('new_password')?.dirty)
                        "
                      />
                      @if (
                        (form.get("new_password")?.invalid &&
                          form.get("new_password")?.touched) ||
                        form.get("new_password")?.dirty
                      ) {
                        @if (form.get("new_password")?.hasError("required")) {
                          <span class="invalid-input">
                            La contraseña es obligatoria.
                          </span>
                        } @else if (
                          form.get("new_password")?.hasError("minlength")
                        ) {
                          <span class="invalid-input">
                            La contraseña debe tener al menos 8 caracteres.
                          </span>
                        } @else if (
                          form.get("new_password")?.hasError("pattern")
                        ) {
                          <span class="invalid-input">
                            La contraseña debe contener al menos una letra
                            mayúscula, una letra minúscula, un número y un
                            carácter especial.
                          </span>
                        }
                      } @else {
                        <span class="invalid-input">&nbsp;</span>
                      }
                    </div>
                    <div class="col-auto">
                      <a
                        (click)="toggleShowPassword()"
                        title="Mostrar contraseña"
                        class="btn btn-icon"
                        aria-label="Button"
                      >
                        @if (showPassword()) {
                          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path
                              d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                            />
                          </svg>
                        }
                        @if (!showPassword) {
                          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-eye-closed"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4"
                            />
                            <path d="M3 15l2.5 -3.8" />
                            <path d="M21 14.976l-2.492 -3.776" />
                            <path d="M9 17l.5 -4" />
                            <path d="M15 17l-.5 -4" />
                          </svg>
                        }
                      </a>
                    </div>
                    <div class="col-auto">
                      <a
                        title="Generar contraseña"
                        class="btn btn-icon ml-2"
                        aria-label="Button"
                        (click)="
                          form.get('new_password')?.setValue(generatePassword())
                        "
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-reload"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747"
                          />
                          <path d="M20 4v5h-5" />
                        </svg>
                      </a>
                    </div>
                    <div class="col-auto">
                      <a
                        title="Copiar contraseña"
                        class="btn btn-icon ml-2"
                        aria-label="Button"
                        (click)="
                          copyToClipboard(form.get('new_password')?.value!)
                        "
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
                          />
                          <path
                            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            @if (loading()) {
              <button type="button" class="btn btn-primary" disabled>
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                ></span>
                Cargando...
              </button>
            } @else {
              <button type="submit" class="btn btn-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                  <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                </svg>
                Modificar contraseña
              </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
