<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Módulo</div>
        <h2 class="page-title">Página</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
    <div class="row row-cards">
      <div class="col-12">
        <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <h3 class="card-title">Formulario de modificación</h3>
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <a
                  href="#"
                  class="btn btn-primary btn-5 d-none d-sm-inline-block"
                  [routerLink]="['/admin/pages/files/' + pageId]"
                >
                  <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-paperclip"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"
                    />
                  </svg>
                  Adjuntar Archivos
                </a>
              </div>
            </div>
          </div>
          @if(loading){
          <div class="progress progress-sm">
            <div class="progress-bar progress-bar-indeterminate"></div>
          </div>
          }
          <div class="card-body">
            @if(errorMessage){
            <div
              class="alert alert-important alert-danger alert-dismissible"
              role="alert"
            >
              <div class="d-flex">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon alert-icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                  </svg>
                </div>
                <div>
                  <div [innerHTML]="errorMessage" class="ms-1"></div>
                </div>
              </div>
              <a
                class="btn-close btn-close-white"
                data-bs-dismiss="alert"
                aria-label="close"
              ></a>
            </div>
            }
            <div class="row row-cards">
              <div class="col-md-6 col-md-9">
                <div class="mb-3">
                  <label class="form-label required">Título</label>
                  <input
                    formControlName="title"
                    type="text"
                    class="form-control"
                    placeholder="Título de la Página"
                    [class.is-invalid]="
                      form.get('title')?.invalid &&
                      (form.get('title')?.touched || form.get('title')?.dirty)
                    "
                    [class.is-valid]="
                      form.get('title')?.valid &&
                      (form.get('title')?.touched || form.get('title')?.dirty)
                    "
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="mb-3">
                  <div class="form-label required">Estado</div>
                  <div>
                    <label class="form-check form-check-inline">
                      <input
                        formControlName="status"
                        class="form-check-input"
                        type="radio"
                        name="status"
                        value="published"
                        [class.is-invalid]="
                          form.get('status')?.invalid &&
                          (form.get('status')?.touched ||
                            form.get('status')?.dirty)
                        "
                        [class.is-valid]="
                          form.get('status')?.valid &&
                          (form.get('status')?.touched ||
                            form.get('status')?.dirty)
                        "
                      />
                      <span class="form-check-label">Publicado</span>
                    </label>
                    <label class="form-check form-check-inline">
                      <input
                        formControlName="status"
                        class="form-check-input"
                        type="radio"
                        name="status"
                        value="hidden"
                        [class.is-invalid]="
                          form.get('status')?.invalid &&
                          (form.get('status')?.touched ||
                            form.get('status')?.dirty)
                        "
                        [class.is-valid]="
                          form.get('status')?.valid &&
                          (form.get('status')?.touched ||
                            form.get('status')?.dirty)
                        "
                      />
                      <span class="form-check-label">Oculto</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-8">
                <div class="mb-3">
                  <label class="form-label required">Imagen</label>
                  <app-upload-simple-img />
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="mb-3">
                  <label class="form-label required">Imagen Actual</label>
                  <img class="rounded w-75" [src]="imgCurrent" alt="" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label required">Contenido</label>
                  <app-tinymce
                    formControlName="content"
                    [initOptions]="customOptions"
                  ></app-tinymce>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            @if(loading){
            <button type="button" class="btn btn-primary" disabled>
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
              ></span>
              Cargando...
            </button>
            } @else {
            <button type="submit" class="btn btn-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
                />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
              </svg>
              Actualizar
            </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
