<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Módulo</div>
        <h2 class="page-title">Archivos</h2>
      </div>
      <!-- Page title actions -->
      <div class="d-print-none col-auto ms-auto">
        <div class="btn-list">
          <a
            [routerLink]="['/admin/files/store']"
            class="btn btn-primary d-none d-sm-inline-block"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-upload"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"
              />
              <path d="M9 15l3 -3l3 3" />
              <path d="M12 12l0 9" />
            </svg>
            Subir Archivo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Archivos</h3>
          </div>
          <div class="card-body border-bottom py-3">
            <div class="d-flex">
              <div class="text-secondary">
                Mostrar
                <div class="d-inline-block mx-2">
                  <select
                    [(ngModel)]="show"
                    name="show"
                    class="form-select form-select-sm"
                  >
                    @for (
                      value of values;
                      track value.value;
                      let idx = $index
                    ) {
                      <option value="{{ value.value }}">
                        {{ value.label }}
                      </option>
                    }
                  </select>
                </div>
                Registros
              </div>
              <div class="text-secondary ms-auto">
                Buscar:
                <div class="d-inline-block ms-2">
                  <input type="text" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
          </div>
          @if (filesRs.isLoading()) {
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
          }
          <div class="table-responsive">
            <table class="card-table table-hover table text-nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Tamaño</th>
                  <th>Subido por</th>
                  <th>Actualizado por</th>
                  <th>Fecha Subida</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="align-middle">
                @if (filesRs.isLoading()) {
                  <tr>
                    <td colspan="8" class="text-secondary text-center">
                      Cargando datos...
                    </td>
                  </tr>
                } @else {
                  @for (item of filesRs.value(); track item.id) {
                    <tr>
                      <td>
                        <img
                          style="max-width: 50px"
                          [src]="getFileImage(item.type)"
                          [alt]="item.name"
                        />
                      </td>
                      <td>
                        <span class="text-secondary">{{ item.name }}</span>
                      </td>
                      <td>
                        <span class="text-secondary">{{
                          item.description
                        }}</span>
                      </td>
                      <td>
                        <span class="text-secondary">{{ item.size }}MB</span>
                      </td>
                      <td>
                        <span class="text-secondary"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path
                              d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"
                            />
                          </svg>
                          {{ item.created_by.name }}
                          {{ item.created_by.paternal_surname }}
                          {{ item.created_by.maternal_surname }}
                        </span>
                      </td>
                      <td>
                        @if (item.updated_by != null) {
                          <span class="text-secondary">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-user"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                              <path
                                d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"
                              />
                            </svg>
                            {{ item.updated_by.name }}
                            {{ item.updated_by.paternal_surname }}
                            {{ item.updated_by.maternal_surname }}
                          </span>
                        } @else {
                          <span class="text-secondary">-</span>
                        }
                      </td>
                      <td>
                        <span class="text-secondary">{{
                          item.created_at
                        }}</span>
                      </td>
                      <td>
                        <a
                          class="text-dark cursor-pointer px-1"
                          aria-label="Button"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Editar"
                          [routerLink]="['/admin/files/update/' + item.id]"
                        >
                          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                            />
                            <path
                              d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                            />
                            <path d="M16 5l3 3" />
                          </svg>
                        </a>
                        <a
                          class="text-dark cursor-pointer px-1"
                          aria-label="Button"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Copiar URL"
                          (click)="copyToClipboard(item.url)"
                        >
                          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-copy"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
                            />
                            <path
                              d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
                            />
                          </svg>
                        </a>
                        <a
                          class="text-dark cursor-pointer px-1"
                          aria-label="Button"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Descargar"
                          download
                          (click)="downloadFile(item.id, item.name)"
                        >
                          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-download"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"
                            />
                            <path d="M7 11l5 5l5 -5" />
                            <path d="M12 4l0 12" />
                          </svg>
                        </a>
                        <a
                          class="text-dark cursor-pointer px-1"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Eliminar"
                          (click)="deleteItem(item.id)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path
                              d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"
                            />
                            <path
                              d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"
                            />
                          </svg>
                        </a>
                      </td>
                    </tr>
                  } @empty {
                    <tr>
                      <td colspan="8" class="text-secondary text-center">
                        No se encontraron registros
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>

          <div class="card-footer d-flex align-items-center">
            <p class="text-secondary m-0">
              Mostrando <span>{{ meta().from }}</span> a
              <span>{{ meta().to }}</span> de
              <span>{{ meta().total }}</span> registros
            </p>
            <ul class="pagination m-0 ms-auto">
              <!-- Enlaces de páginas -->
              @for (page of meta().links; track page.id; let idx = $index) {
                <li class="page-item" [class.active]="page.active">
                  <a
                    class="page-link"
                    (click)="goToPage(page.page)"
                    [innerHTML]="page.label"
                    href="javascript:void(0)"
                  ></a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
